


body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  padding-right: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}


/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
  margin: 0 18px 0 18px;

}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Dog Phone Image */

.title-image {
  width: 55%;
  transform: rotate(15deg);
}
